body {
margin: 0;
padding: 0;
background: rgb(240, 239,239);/*Adding background color*/
font-family: "Poppins", sans-serif;
width:100%;
max-width: 1600px;
min-width: 300px;
}

h1 {
   margin: 0;
   font-weight: 500;
   text-align: center;
}
.name{
    margin: 0;
    font-weight: 400;
    /*display: inline-block;*/
}
/*@media only screen and (max-width:1600px) and (min-width: 300px)
 {*/
.box {
    background: #fff;
    padding: 3rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    max-height:500px;
    overflow-y: scroll;
    
     }
    
/*partitioning header part*/
.header {
    display: grid;
    grid-template-columns: 40% 60%;
}
/*arranging header left items*/
.header-left {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 3rem;
}

/*arranging header right items*/
.header-right{
    width: 100%;
    display: grid;
    grid-template-rows: 15% 15% 15%;
    padding-top:10%;
    justify-items: end;
    font-size: 2rem;
}

.header-right p {
    display: inline;
}
.container{
    background: #fff; 
    display: grid;
    grid-template-columns: 50% 50%;
}
/*first division below header*/
.div1 {
    background: #fff;
    width: 100%;
    float: left;
    margin: 0;
    font-size: 1.5rem;
}
/*Second division below header*/
.div2{
    background: #fff;
    width: 100%;
    float: right;
    font-size: 1.5rem;
    margin: 0;
}

